<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/test2.css">
</head>
<body>
	<input type="text" id="biTitle"> 
	<button onclick="getBoards()">검색</button>
<h3>List</h3>
<table border="1">
	<tr>
		<th>번호</th>
		<th>제목</th>
		<th>파일이름</th>
		<th>유저이름</th>
		<th>유저번호</th>	
		<th>등록시간</th>
		<th>등록날짜</th>	
	</tr>
	
	<tbody id="tbody">
	</tbody>
</table>
<button id="pageDiv">등록</button>
<div id="pageDiv">
	<a href="/html/board/board-add">등록</a>
	
</div>
<script>
	let total = 0;
	let pageSize = 10;
	const blockSize = 10;	
	const getBoards = async function(evt, page){
		if(!page){
			page = 1;
		}
		let url = `/board-infos?page=${page}&pageSize=${pageSize}`;
		url += `&biTitle=${document.querySelector('#biTitle').value}`;
		alert(url);
		const res = await fetch(url);
		const json = await res.json();
		const totalCnt = json.totalCnt;
		const pageBlock = Math.ceil(totalCnt/pageSize);
		let pageHtml = '';
		
		const startBlock = (Math.ceil(page/blockSize)-1)*blockSize+1;
		let endBlock = startBlock + blockSize -1;
		if(endBlock>pageBlock){
			endBlock = pageBlock;
		}
		
		if(startBlock!=1){
			pageHtml +=`<a href="javascript:void(0)" onclick="getBoards(event,${startBlock-1})">◀<a/>`
		}
		for(let i=startBlock; i<=endBlock; i++){
			pageHtml += `<a href="javascript:void(0)" onclick="getBoards(event,${i})"><b>[ ${i} ]</b></a>`; //페이지 번호들
		}
		if(endBlock<pageBlock){
			pageHtml +=`<a href="javascript:void(0)" onclick="getBoards(event,${endBlock+1})">▶</a>`
		}
		 
		document.querySelector('#pageDiv').innerHTML = pageHtml;
		let html = '';
		for(const board of json.list){
			html +='<tr>';
			html +=`<td>${board.biNum}</td>`
			html +=`<td><a href="/html/board/board-view?biNum=${board.biNum}">${board.biTitle}</td>`
			html +=`<td>${board.biFileName?'<img src="/imgs/file.jpg" with="30">':''}</td>`
			html +=`<td>${board.uiName}</td>`
			html +=`<td>${board.uiNum}</td>`
			html +=`<td>${board.cretim}</td>`
			html +=`<td>${board.credat}</td>`
			html +='</tr>';
		}
		document.querySelector('#tbody').innerHTML = html;
	}
	window.addEventListener('load',getBoards);
</script>
</body>
</html>